button {
    width: 80px;
    border-radius: 20px;
    padding: 8px 5px;
    outline: none;
    border: none;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 700;

}

.Login {
    background-color: black;
}

.Succeed {
    background-color: #5C9210;
}

.Danger {
    background-color: coral;
}

button:hover,
button:active {
    background-color: rgb(134, 142, 150);
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}